<h1 class="is-size-4 has-text-black has-text-weight-bold">To-Do Today:</h1>

{{#each tasks as |task|}}
  <div class="panel">
    <a class="panel-block is-active">{{task.dataValues.title}}
    </a>
  </div>
{{/each}}