
    {{#each tasks as |task|}}
      {{#if (check_date task.dataValues.date ../today)}}
  <nav class="panel">
    <h1
      class="is-size-3 has-text-weight-bold panel-heading has-background-dark has-text-white has-text-centered"
    >To-Do Today: <span class="has-text-primary">{{format_date ../today}}</span></h1>
        <a class="panel-block has-background-warning">
          <span class="is-flex is-justify-content-center">{{task.dataValues.title}}</span>
        </a>
      {{/if}}
    {{/each}}
  </nav>
</div>