<h1 class="is-size-3 has-text-weight-bold">Your week at a glance!</h1>

<table>
  <tbody>
    {{#each days}}
      <tr>
        <td>{{dayOfWeek}}</td>
        <td>{{date}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
