<h1 class="is-size-3 has-text-weight-bold my-1">Your week at a glance!</h1>

<div class="columns weekly is-justify-content-center m-1">
  {{#each (get_week monday)}}
    <div class="column p-0">
      <div class="card p-0">
        <header class="card-header mb-0">
          <p class="card-header-title is-size-6 has-text-light has-text-centered ml-4">
            {{weekday this}} <span class="has-text-link pl-6 pr-0">{{format_date this}}</span>
          </p>
        </header>
        {{#each ../tasks as |task|}}
        <div class="card-content py-1">
          <div class="content">
        {{#if (check_date task.dataValues.date ../this)}}
            {{> task-detail title=task.dataValues.title body=task.dataValues.body}}
        {{/if}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>