<h1 class="is-size-4 has-text-black has-text-weight-bold">Your week at a glance!</h1>

<table>
  {{!-- <thead>
    <tr>
      <th>Day</th>
      <th>Date</th>
    </tr>
  </thead> --}}
  <tbody>
    {{#each days}}
      <tr>
        <td>{{dayOfWeek}}</td>
        <td>{{date}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
