<h1>Your week at a glance!</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each days}}
      <tr>
        <td>{{dayOfWeek}}</td>
        <td>{{date}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
