{{#if logged_in}}
{{> daily tasks=tasks }}
{{> weekly tasks=tasks}}
{{> calendar tasks=tasks}}
{{else}}


<h1 class="is-size-4 has-text-black has-text-weight-bold">Welcome, please login or create an account for full access</h1>

{{> calendar}}

{{/if}}