<div class="text-center">
    <!-- this part should have the name of the task right? I tried task.name but wouldn't that just be self referencing and not actually work?-->
    <h2>{{name}}</h2>







</div>