img {
  width: 50%;
  height: auto;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px !important;
  color: black;
  font-weight: bolder;
}

input {
  background-color: rgb(236, 236, 236) !important;
}
.col-aligncenter {
  float: none;
  margin: 0 auto;
}

.logout {
  font-size: x-small !important;
}

.select {
  width: 80px;
  border-radius: 10px;
}

.btn {
  background-color: black;
}

.control {
  font-size: 40px !important;
}

.weekly .card-header {
  background-color: black;
  text-align: center;
}

.weekly .card {
  margin-right: -2%;
  height: 100%;
}
